<div class="container mt-5">
  <br/>
  <br/>
  <h2 class="text-center text-primary mb-4">Product List</h2>

  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Code</th>
          <th scope="col">Name</th>
          <th scope="col">Total Qty</th>
          <th scope="col">Remaining Qty</th>
          <th scope="col">Price</th>
          <th scope="col">Comments</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of products; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ p.code }}</td>
          <td>{{ p.name }}</td>
          <td>{{ p.totalQuantity }}</td>
          <td>{{ p.remainingQuantity }}</td>
          <td>₹{{ p.price }}</td>
          <td>{{ p.comments }}</td>
          <td>
            <a class="btn btn-sm btn-info me-2" [routerLink]="['/edit-product', p.id]">Edit</a>
             <a class="btn btn-sm btn-danger" (click)="deleteProduct(p.id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
